In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import plotly.io as pio
pio.renderers.default = 'svg'
import re

In [2]:
dataset= pd.read_csv('Materials and their Mechanical Properties.csv')
dataset

,Std,ID,Material,Heat treatment,Su,Sy,A5,Bhn,E,G,mu,Ro,pH,Desc,HV
0,ANSI,D8894772B88F495093C43AF905AB6373,Steel SAE 1015,as-rolled,421,314,39.0,126.0,207000,79000,0.30,7860,NaN,NaN,NaN
1,ANSI,05982AC66F064F9EBC709E7A4164613A,Steel SAE 1015,normalized,424,324,37.0,121.0,207000,79000,0.30,7860,NaN,NaN,NaN
2,ANSI,356D6E63FF9A49A3AB23BF66BAC85DC3,Steel SAE 1015,annealed,386,284,37.0,111.0,207000,79000,0.30,7860,NaN,NaN,NaN
3,ANSI,1C758F8714AC4E0D9BD8D8AE1625AECD,Steel SAE 1020,as-rolled,448,331,36.0,143.0,207000,79000,0.30,7860,NaN,NaN,NaN
4,ANSI,DCE10036FC1946FC8C9108D598D116AD,Steel SAE 1020,normalized,441,346,35.8,131.0,207000,79000,0.30,7860,550.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1547,JIS,512A80EC21EA416BA2725B38BA8096EF,Nodular cast iron,NaN,600,370,NaN,NaN,169000,70000,0.20,7160,480.0,Nodular cast iron,210.0
1548,JIS,38526441BA8741CA979DBF870D0B8A9B,Nodular cast iron,NaN,700,420,NaN,NaN,169000,70000,0.20,7160,560.0,Nodular cast iron,230.0
1549,JIS,CAC03D7EB1AA45E68EFF92A2EF4C3D9B,Nodular cast iron,NaN,800,480,NaN,NaN,169000,70000,0.20,7160,600.0,Nodular cast iron,240.0
1550,JIS,45C82A36EC644F8BB6170A99ED819B62,Malleable cast iron,NaN,400,180,4.0,NaN,160000,64000,0.27,7160,300.0,Malleable cast iron,220.0
1551,JIS,BC74F870412F4DDBADDEF1063C1C079F,Malleable cast iron,NaN,500,260,4.0,NaN,160000,64000,0.27,7160,370.0,Malleable cast iron,230.0

# Merging 2 datasets one named Materials and their Mechanical Properties & the other dataset named Use.

In [3]:
dataset1= pd.read_csv('Materials and their Mechanical Properties.csv')
dataset2=pd.read_csv('Use.csv')

In [4]:
# Assuming 'dataset1' is your first dataset
dataset1['ID'] = range(1, len(dataset1) + 1)


# Assuming 'dataset2' is your second dataset
dataset2['ID'] = range(1, len(dataset2) + 1)

# Merge dataset 1 and dataset 2 using the 'ID' column
dataset = dataset1.merge(dataset2[['ID', 'Use']], on='ID', how='inner')
dataset

,Std,ID,Material,Heat treatment,Su,Sy,A5,Bhn,E,G,mu,Ro,pH,Desc,HV,Use
0,ANSI,1,Steel SAE 1015,as-rolled,421,314,39.0,126.0,207000,79000,0.30,7860,NaN,NaN,NaN,True
1,ANSI,2,Steel SAE 1015,normalized,424,324,37.0,121.0,207000,79000,0.30,7860,NaN,NaN,NaN,True
2,ANSI,3,Steel SAE 1015,annealed,386,284,37.0,111.0,207000,79000,0.30,7860,NaN,NaN,NaN,True
3,ANSI,4,Steel SAE 1020,as-rolled,448,331,36.0,143.0,207000,79000,0.30,7860,NaN,NaN,NaN,True
4,ANSI,5,Steel SAE 1020,normalized,441,346,35.8,131.0,207000,79000,0.30,7860,550.0,NaN,NaN,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1547,JIS,1548,Nodular cast iron,NaN,600,370,NaN,NaN,169000,70000,0.20,7160,480.0,Nodular cast iron,210.0,False
1548,JIS,1549,Nodular cast iron,NaN,700,420,NaN,NaN,169000,70000,0.20,7160,560.0,Nodular cast iron,230.0,False
1549,JIS,1550,Nodular cast iron,NaN,800,480,NaN,NaN,169000,70000,0.20,7160,600.0,Nodular cast iron,240.0,False
1550,JIS,1551,Malleable cast iron,NaN,400,180,4.0,NaN,160000,64000,0.27,7160,300.0,Malleable cast iron,220.0,False
1551,JIS,1552,Malleable cast iron,NaN,500,260,4.0,NaN,160000,64000,0.27,7160,370.0,Malleable cast iron,230.0,False

# Getting Basic Information about the Dataset

In [5]:
dataset.shape

(1552, 16)

In [6]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1552 entries, 0 to 1551
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Std             1552 non-null   object
 1   ID              1552 non-null   int64
 2   Material        1552 non-null   object
 3   Heat treatment  802 non-null    object
 4   Su              1552 non-null   int64
 5   Sy              1552 non-null   object
 6   A5              1346 non-null   float64
 7   Bhn             463 non-null    float64
 8   E               1552 non-null   int64
 9   G               1552 non-null   int64
 10  mu              1552 non-null   float64
 11  Ro              1552 non-null   int64
 12  pH              193 non-null    float64
 13  Desc            981 non-null    object
 14  HV              165 non-null    float64
 15  Use             1552 non-null   bool
dtypes: bool(1), float64(5), int64(5), object(5)
memory usage: 183.5+ KB

# Changing datatype Bool to Object for Use coloumn

In [7]:
dataset['Use'] = dataset['Use'].astype('object')

In [8]:
dataset.describe()

,ID,Su,A5,Bhn,E,G,mu,Ro,pH,HV
count,1552.000000,1552.000000,1346.000000,463.000000,1552.000000,1552.000000,1552.000000,1552.000000,193.000000,165.000000
mean,776.500000,572.753222,19.329421,177.138229,164571.520619,85598.840206,0.302977,6929.843428,627.393782,328.484848
std,448.168123,326.834927,12.422004,113.508044,56135.405867,125326.800138,0.024590,2115.171710,370.530293,202.764089
min,1.000000,69.000000,0.500000,19.000000,73000.000000,26000.000000,0.200000,1750.000000,190.000000,105.000000
25%,388.750000,340.000000,11.000000,78.000000,105000.000000,40000.000000,0.300000,7160.000000,370.000000,192.000000
50%,776.500000,500.000000,16.000000,170.000000,206000.000000,79000.000000,0.300000,7860.000000,460.000000,230.000000
75%,1164.250000,705.000000,24.375000,229.000000,206000.000000,80000.000000,0.320000,7860.000000,796.000000,492.000000
max,1552.000000,2220.000000,70.000000,627.000000,219000.000000,769000.000000,0.350000,8930.000000,1360.000000,800.000000

#  Removing the redundant rows of data

In [9]:
# Checking redundunt rows of data

wrong_data= dataset['Material']=='Material'
dataset[wrong_data]

Empty DataFrame
Columns: [Std, ID, Material, Heat treatment, Su, Sy, A5, Bhn, E, G, mu, Ro, pH, Desc, HV, Use]
Index: []

# Performing Negation of the wrong dataset and then storing the correct data back in the dataset DataFrame

In [10]:
# This permamnently remove the wrong data from the original dataframe

dataset= dataset[~wrong_data]
dataset

,Std,ID,Material,Heat treatment,Su,Sy,A5,Bhn,E,G,mu,Ro,pH,Desc,HV,Use
0,ANSI,1,Steel SAE 1015,as-rolled,421,314,39.0,126.0,207000,79000,0.30,7860,NaN,NaN,NaN,True
1,ANSI,2,Steel SAE 1015,normalized,424,324,37.0,121.0,207000,79000,0.30,7860,NaN,NaN,NaN,True
2,ANSI,3,Steel SAE 1015,annealed,386,284,37.0,111.0,207000,79000,0.30,7860,NaN,NaN,NaN,True
3,ANSI,4,Steel SAE 1020,as-rolled,448,331,36.0,143.0,207000,79000,0.30,7860,NaN,NaN,NaN,True
4,ANSI,5,Steel SAE 1020,normalized,441,346,35.8,131.0,207000,79000,0.30,7860,550.0,NaN,NaN,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1547,JIS,1548,Nodular cast iron,NaN,600,370,NaN,NaN,169000,70000,0.20,7160,480.0,Nodular cast iron,210.0,False
1548,JIS,1549,Nodular cast iron,NaN,700,420,NaN,NaN,169000,70000,0.20,7160,560.0,Nodular cast iron,230.0,False
1549,JIS,1550,Nodular cast iron,NaN,800,480,NaN,NaN,169000,70000,0.20,7160,600.0,Nodular cast iron,240.0,False
1550,JIS,1551,Malleable cast iron,NaN,400,180,4.0,NaN,160000,64000,0.27,7160,300.0,Malleable cast iron,220.0,False
1551,JIS,1552,Malleable cast iron,NaN,500,260,4.0,NaN,160000,64000,0.27,7160,370.0,Malleable cast iron,230.0,False

# Checking for Null records

In [11]:
dataset.isnull().sum()

Std                  0
ID                   0
Material             0
Heat treatment     750
Su                   0
Sy                   0
A5                 206
Bhn               1089
E                    0
G                    0
mu                   0
Ro                   0
pH                1359
Desc               571
HV                1387
Use                  0
dtype: int64

# Dropping columns with null records & columns which are not required for further analysis.

In [12]:
dataset.drop(['ID', 'Desc','A5','Bhn','pH','Desc','HV'], axis =1, inplace =True)
dataset

,Std,Material,Heat treatment,Su,Sy,E,G,mu,Ro,Use
0,ANSI,Steel SAE 1015,as-rolled,421,314,207000,79000,0.30,7860,True
1,ANSI,Steel SAE 1015,normalized,424,324,207000,79000,0.30,7860,True
2,ANSI,Steel SAE 1015,annealed,386,284,207000,79000,0.30,7860,True
3,ANSI,Steel SAE 1020,as-rolled,448,331,207000,79000,0.30,7860,True
4,ANSI,Steel SAE 1020,normalized,441,346,207000,79000,0.30,7860,True
...,...,...,...,...,...,...,...,...,...,...
1547,JIS,Nodular cast iron,NaN,600,370,169000,70000,0.20,7160,False
1548,JIS,Nodular cast iron,NaN,700,420,169000,70000,0.20,7160,False
1549,JIS,Nodular cast iron,NaN,800,480,169000,70000,0.20,7160,False
1550,JIS,Malleable cast iron,NaN,400,180,160000,64000,0.27,7160,False
1551,JIS,Malleable cast iron,NaN,500,260,160000,64000,0.27,7160,False

In [13]:
dataset.isnull().sum()

Std                 0
Material            0
Heat treatment    750
Su                  0
Sy                  0
E                   0
G                   0
mu                  0
Ro                  0
Use                 0
dtype: int64

In [14]:
dataset = dataset.dropna()
dataset

,Std,Material,Heat treatment,Su,Sy,E,G,mu,Ro,Use
0,ANSI,Steel SAE 1015,as-rolled,421,314,207000,79000,0.3,7860,True
1,ANSI,Steel SAE 1015,normalized,424,324,207000,79000,0.3,7860,True
2,ANSI,Steel SAE 1015,annealed,386,284,207000,79000,0.3,7860,True
3,ANSI,Steel SAE 1020,as-rolled,448,331,207000,79000,0.3,7860,True
4,ANSI,Steel SAE 1020,normalized,441,346,207000,79000,0.3,7860,True
...,...,...,...,...,...,...,...,...,...,...
1444,NF,NF 30CD12,nitrided,980,770,206000,80000,0.3,7860,False
1445,NF,NF 16NC6,case-hardened,1100,800,206000,80000,0.3,7860,False
1446,NF,NF 18NCD6,case-hardened,1200,850,206000,80000,0.3,7860,False
1447,NF,NF 30CND8,heat treated,1030,850,206000,80000,0.3,7860,False
1513,JIS,JIS SUP9,heat treated,1226,1079,206000,80000,0.3,7860,False

In [15]:
# Confirming all the null records are correct

dataset.isnull().sum()

Std               0
Material          0
Heat treatment    0
Su                0
Sy                0
E                 0
G                 0
mu                0
Ro                0
Use               0
dtype: int64

# Deleting Certain Rows with Missing Values

dataset.dropna(subset=['Heat treatment','A5', 'Bhn','pH','HV'], inplace=True)
dataset

# Creating a new column named 'Materials' by concatenating the values in the three columns

In [16]:
dataset['Materials'] = dataset['Std'] + ' ' + dataset['Material'] + ' ' + dataset['Heat treatment']

# Drop the original columns
dataset = dataset.drop(['Std', 'Material', 'Heat treatment'], axis=1)
dataset.head()

/var/folders/07/ykgp85052b11h5kz22ghn8l40000gn/T/ipykernel_51520/1017509224.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

    Su   Sy       E      G   mu    Ro   Use                       Materials
0  421  314  207000  79000  0.3  7860  True   ANSI Steel SAE 1015 as-rolled
1  424  324  207000  79000  0.3  7860  True  ANSI Steel SAE 1015 normalized
2  386  284  207000  79000  0.3  7860  True    ANSI Steel SAE 1015 annealed
3  448  331  207000  79000  0.3  7860  True   ANSI Steel SAE 1020 as-rolled
4  441  346  207000  79000  0.3  7860  True  ANSI Steel SAE 1020 normalized

In [17]:
# Rename the column from 'Materials' to 'Material'
dataset = dataset.rename(columns={'Materials': 'Material'})
dataset.head()

    Su   Sy       E      G   mu    Ro   Use                        Material
0  421  314  207000  79000  0.3  7860  True   ANSI Steel SAE 1015 as-rolled
1  424  324  207000  79000  0.3  7860  True  ANSI Steel SAE 1015 normalized
2  386  284  207000  79000  0.3  7860  True    ANSI Steel SAE 1015 annealed
3  448  331  207000  79000  0.3  7860  True   ANSI Steel SAE 1020 as-rolled
4  441  346  207000  79000  0.3  7860  True  ANSI Steel SAE 1020 normalized

# Reordering the columns in the DataFrame

In [18]:
# Create a list of column names with 'Materials' at the front
new_column_order = ['Material', 'Su', 'Sy', 'E', 'G', 'mu', 'Ro','Use']

# Reorder the columns in the DataFrame
dataset = dataset[new_column_order]
dataset

,Material,Su,Sy,E,G,mu,Ro,Use
0,ANSI Steel SAE 1015 as-rolled,421,314,207000,79000,0.3,7860,True
1,ANSI Steel SAE 1015 normalized,424,324,207000,79000,0.3,7860,True
2,ANSI Steel SAE 1015 annealed,386,284,207000,79000,0.3,7860,True
3,ANSI Steel SAE 1020 as-rolled,448,331,207000,79000,0.3,7860,True
4,ANSI Steel SAE 1020 normalized,441,346,207000,79000,0.3,7860,True
...,...,...,...,...,...,...,...,...
1444,NF NF 30CD12 nitrided,980,770,206000,80000,0.3,7860,False
1445,NF NF 16NC6 case-hardened,1100,800,206000,80000,0.3,7860,False
1446,NF NF 18NCD6 case-hardened,1200,850,206000,80000,0.3,7860,False
1447,NF NF 30CND8 heat treated,1030,850,206000,80000,0.3,7860,False
1513,JIS JIS SUP9 heat treated,1226,1079,206000,80000,0.3,7860,False

# Checking for text values in the numerical column before converting it to numeric datatype

In [19]:
numerical_columns = ['Su', 'Sy', 'E', 'G', 'mu', 'Ro']

# Initialize an empty list to store column names with text values
columns_with_text = []

# Iterate through the numerical columns and check for text values
for column in numerical_columns:
    if dataset[column].apply(lambda x: isinstance(x, str)).any():
        columns_with_text.append(column)

# Display the columns with text values
print("Columns with text values:", columns_with_text)

Columns with text values: ['Sy']

In [20]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Index: 802 entries, 0 to 1513
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Material  802 non-null    object
 1   Su        802 non-null    int64
 2   Sy        802 non-null    object
 3   E         802 non-null    int64
 4   G         802 non-null    int64
 5   mu        802 non-null    float64
 6   Ro        802 non-null    int64
 7   Use       802 non-null    object
dtypes: float64(1), int64(4), object(3)
memory usage: 56.4+ KB

In [21]:
# Convert the entire column to numeric, setting errors='coerce' for non-numeric values
dataset['Sy'] = pd.to_numeric(dataset['Sy'], errors='coerce')

# Create a mask to identify rows with non-numeric values
mask = np.isnan(dataset['Sy'])

# Remove rows with non-numeric (categorical) values
dataset = dataset[~mask]

In [22]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Index: 802 entries, 0 to 1513
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Material  802 non-null    object
 1   Su        802 non-null    int64
 2   Sy        802 non-null    int64
 3   E         802 non-null    int64
 4   G         802 non-null    int64
 5   mu        802 non-null    float64
 6   Ro        802 non-null    int64
 7   Use       802 non-null    object
dtypes: float64(1), int64(5), object(2)
memory usage: 56.4+ KB

# Removing Duplicate records

In [23]:

# Finding all the duplicate rows

dataset[dataset.duplicated()]

Empty DataFrame
Columns: [Material, Su, Sy, E, G, mu, Ro, Use]
Index: []

In [24]:
# Dropping all the duplicate rows

dataset=dataset.drop_duplicates()

#  Copying the cleaned data into a new DataFrame

In [25]:
dataset=dataset.copy()
dataset

,Material,Su,Sy,E,G,mu,Ro,Use
0,ANSI Steel SAE 1015 as-rolled,421,314,207000,79000,0.3,7860,True
1,ANSI Steel SAE 1015 normalized,424,324,207000,79000,0.3,7860,True
2,ANSI Steel SAE 1015 annealed,386,284,207000,79000,0.3,7860,True
3,ANSI Steel SAE 1020 as-rolled,448,331,207000,79000,0.3,7860,True
4,ANSI Steel SAE 1020 normalized,441,346,207000,79000,0.3,7860,True
...,...,...,...,...,...,...,...,...
1444,NF NF 30CD12 nitrided,980,770,206000,80000,0.3,7860,False
1445,NF NF 16NC6 case-hardened,1100,800,206000,80000,0.3,7860,False
1446,NF NF 18NCD6 case-hardened,1200,850,206000,80000,0.3,7860,False
1447,NF NF 30CND8 heat treated,1030,850,206000,80000,0.3,7860,False
1513,JIS JIS SUP9 heat treated,1226,1079,206000,80000,0.3,7860,False

In [26]:
# Define a function to clean and format the material names
def clean_material(Material):
    # Remove special characters and digits
    cleaned_material = re.sub(r'[^a-zA-Z0-9 - ]', '', Material)
    # Remove extra spaces and convert to title case
    cleaned_material = ' '.join(cleaned_material.split())
    return cleaned_material

# Apply the function to the 'Material' column
dataset['Material'] = dataset['Material'].apply(clean_material)

dataset

,Material,Su,Sy,E,G,mu,Ro,Use
0,ANSI Steel SAE 1015 asrolled,421,314,207000,79000,0.3,7860,True
1,ANSI Steel SAE 1015 normalized,424,324,207000,79000,0.3,7860,True
2,ANSI Steel SAE 1015 annealed,386,284,207000,79000,0.3,7860,True
3,ANSI Steel SAE 1020 asrolled,448,331,207000,79000,0.3,7860,True
4,ANSI Steel SAE 1020 normalized,441,346,207000,79000,0.3,7860,True
...,...,...,...,...,...,...,...,...
1444,NF NF 30CD12 nitrided,980,770,206000,80000,0.3,7860,False
1445,NF NF 16NC6 casehardened,1100,800,206000,80000,0.3,7860,False
1446,NF NF 18NCD6 casehardened,1200,850,206000,80000,0.3,7860,False
1447,NF NF 30CND8 heat treated,1030,850,206000,80000,0.3,7860,False
1513,JIS JIS SUP9 heat treated,1226,1079,206000,80000,0.3,7860,False

# Defining Quan & Qual for Outlier Removal

In [27]:
def quanQual(dataset):
    quan=[]
    qual=[]
    for columnName in dataset.columns:
        #print(columnName)
        if(dataset[columnName].dtype=='O'):
            #print("qual")
            qual.append(columnName)
        else:
            #print("quan")
            quan.append(columnName)
    return quan,qual

In [28]:
quan,qual=quanQual(dataset)
quan

['Su', 'Sy', 'E', 'G', 'mu', 'Ro']

In [29]:
qual

['Material', 'Use']

In [30]:
descriptive=pd.DataFrame(index=["Mean","Median","Mode","Q1:25%","Q2:50%",
                               "Q3:75%","99%","Q4:100%","IQR","1.5rule","Lesser","Greater","Min","Max"],columns=quan)
for columnName in quan:
    descriptive[columnName]["Mean"]=dataset[columnName].mean()
    descriptive[columnName]["Median"]=dataset[columnName].median()
    descriptive[columnName]["Mode"]=dataset[columnName].mode()[0]
    descriptive[columnName]["Q1:25%"]=dataset.describe()[columnName]["25%"]
    descriptive[columnName]["Q2:50%"]=dataset.describe()[columnName]["50%"]
    descriptive[columnName]["Q3:75%"]=dataset.describe()[columnName]["75%"]
    descriptive[columnName]["99%"]=np.percentile(dataset[columnName],99)
    descriptive[columnName]["Q4:100%"]=dataset.describe()[columnName]["max"]
    descriptive[columnName]["IQR"]=descriptive[columnName]["Q3:75%"]-descriptive[columnName]["Q1:25%"]
    descriptive[columnName]["1.5rule"]=1.5*descriptive[columnName]["IQR"]
    descriptive[columnName]["Lesser"]=descriptive[columnName]["Q1:25%"]-descriptive[columnName]["1.5rule"]
    descriptive[columnName]["Greater"]=descriptive[columnName]["Q3:75%"]+descriptive[columnName]["1.5rule"]
    descriptive[columnName]["Min"]=dataset[columnName].min()
    descriptive[columnName]["Max"]=dataset[columnName].max()

In [31]:
lesser=[]
greater=[]

for columnName in quan:
    if(descriptive[columnName]["Lesser"]>descriptive[columnName]["Min"]):
        lesser.append(columnName)
    if(descriptive[columnName]["Greater"]<descriptive[columnName]["Q4:100%"]):
        greater.append(columnName)

In [32]:
lesser

[]

In [33]:
greater

['Su', 'Sy', 'G']

In [34]:
for column in lesser:
    dataset[column][dataset[column]<descriptive[column]["Lesser"]]=descriptive[column]["Lesser"]
for column in greater:
    dataset[column][dataset[column]>descriptive[column]["Greater"]]=descriptive[column]["Greater"]

/var/folders/07/ykgp85052b11h5kz22ghn8l40000gn/T/ipykernel_51520/183160582.py:4: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/var/folders/07/ykgp85052b11h5kz22ghn8l40000gn/T/ipykernel_51520/183160582.py:4: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/var/folders/07/ykgp85052b11h5kz22ghn8l40000gn/T/ipykernel_51520/183160582.py:4: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [35]:
descriptive=pd.DataFrame(index=["Mean","Median","Mode","Q1:25%","Q2:50%",
                               "Q3:75%","99%","Q4:100%","IQR","1.5rule","Lesser","Greater","Min","Max"],columns=quan)
for columnName in quan:
    descriptive[columnName]["Mean"]=dataset[columnName].mean()
    descriptive[columnName]["Median"]=dataset[columnName].median()
    descriptive[columnName]["Mode"]=dataset[columnName].mode()[0]
    descriptive[columnName]["Q1:25%"]=dataset.describe()[columnName]["25%"]
    descriptive[columnName]["Q2:50%"]=dataset.describe()[columnName]["50%"]
    descriptive[columnName]["Q3:75%"]=dataset.describe()[columnName]["75%"]
    descriptive[columnName]["99%"]=np.percentile(dataset[columnName],99)
    descriptive[columnName]["Q4:100%"]=dataset.describe()[columnName]["max"]
    descriptive[columnName]["IQR"]=descriptive[columnName]["Q3:75%"]-descriptive[columnName]["Q1:25%"]
    descriptive[columnName]["1.5rule"]=1.5*descriptive[columnName]["IQR"]
    descriptive[columnName]["Lesser"]=descriptive[columnName]["Q1:25%"]-descriptive[columnName]["1.5rule"]
    descriptive[columnName]["Greater"]=descriptive[columnName]["Q3:75%"]+descriptive[columnName]["1.5rule"]
    descriptive[columnName]["Min"]=dataset[columnName].min()
    descriptive[columnName]["Max"]=dataset[columnName].max()

In [36]:
descriptive

,Su,Sy,E,G,mu,Ro
Mean,621.024938,422.502494,159251.870324,66125.935162,0.309027,6045.145885
Median,574.5,345.5,204000.0,79000.0,0.3,7850.0
Mode,1535,1069,73000,26000,0.3,7860
Q1:25%,310.0,214.0,73000.0,26000.0,0.3,2700.0
Q2:50%,574.5,345.5,204000.0,79000.0,0.3,7850.0
Q3:75%,800.0,556.0,206000.0,80000.0,0.33,7860.0
99%,1535.0,1069.0,216000.0,161000.0,0.33,8030.0
Q4:100%,1535.0,1069.0,219000.0,161000.0,0.33,8800.0
IQR,490.0,342.0,133000.0,54000.0,0.03,5160.0
1.5rule,735.0,513.0,199500.0,81000.0,0.045,7740.0
Lesser,-425.0,-299.0,-126500.0,-55000.0,0.255,-5040.0
Greater,1535.0,1069.0,405500.0,161000.0,0.375,15600.0
Min,69,28,73000,26000,0.29,1750
Max,1535,1069,219000,161000,0.33,8800

In [37]:
lesser=[]
greater=[]

for columnName in quan:
    if(descriptive[columnName]["Lesser"]>descriptive[columnName]["Min"]):
        lesser.append(columnName)
    if(descriptive[columnName]["Greater"]<descriptive[columnName]["Q4:100%"]):
        greater.append(columnName)

In [38]:
lesser

[]

In [39]:
greater

[]

# Saving the Preprocessed dataset as a New File

In [40]:
dataset.to_csv("PP_Mtrls_and_their_Mchncl_Prprts.csv",index=False)